<select class="form-select" style="margin-top: 70px;" [(ngModel)]="brandId">
    <option value="0">Markalar</option>
    <option *ngFor="let brand of brands" [ngValue]="brand.brandId">{{brand.brandName}}</option>
  </select>
  
  <select class="form-select" style="margin-top: 10px;" [(ngModel)]="colorId">
    <option value="0">Renkler</option>
    <option *ngFor="let color of colors" [ngValue]="color.colorId">{{color.colorName}}</option>
  </select>
  
  <div class="d-grid">
    <button class="btn btn-primary" (click)="filter()">Filtrele</button>
  </div>