<div style="margin-top: 20px;">
    <p-table [value]="carDetails">
        <ng-template pTemplate="header">
            <tr>
                <th>Araba ID</th>
                <th>Marka</th>
                <th>Renk</th>
                <th>Model Yılı</th>
                <th>Günlük Ücreti</th>
                <th>Açıklama</th>
                <th>Findex Puanı</th>
                <th>
                    <button routerLink="/admin/cars/add" style="width: max;" pButton type="button" label="Ekle"></button>
                </th>
                
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-carDetail>
            <tr>
                <td>{{carDetail.carId}}</td>
                <td>{{carDetail.brandName}}</td>
                <td>{{carDetail.colorName}}</td>
                <td>{{carDetail.modelYear}}</td>
                <td>{{carDetail.dailyPrice}}</td>
                <td>{{carDetail.description}}</td>
                <td>{{carDetail.minFindexPoint}}</td>
                <td>
                    <div class="row">
                        <div style="margin-left: -5px;" class="col-md-7">
                            <button routerLink="/admin/cars/update/{{carDetail.carId}}" pButton type="button" label="Düzenle"></button>
                        </div>
                        <div style="margin-left: 5px;" class="col-md-5">
                            <button pButton type="button" label="Sil" class="p-button-danger" (click)="delete(carDetail)"></button>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>