<table class="table table-striped">
    <thead>
        <tr>
            <th>Araba ID</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Model Yılı</th>
            <th>Günlük Ücreti</th>
            <th>Açıklama</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carDetail of carDetails.slice(0,10) ">
            <td>{{ carDetail.carId }}</td>
            <td>{{ carDetail.brandName }}</td>
            <td>{{carDetail.colorName}}</td>
            <td>{{carDetail.modelYear}}</td>
            <td>{{carDetail.dailyPrice}}</td>
            <td>{{carDetail.description}}</td>
            <td><button type="button" style="width: 50px;" class="btn btn-primary">
                Ayrıntılar
              </button>
              <button type="button" style="width: 50px;" class="btn btn-primary">
                Sil
              </button>
            </td>
        </tr>
    </tbody>
</table>