<div class="row" routerLink="/admin/cars">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Araba ID</th>
                    <th>Marka</th>
                    <th>Renk</th>
                    <th>Model Yılı</th>
                    <th>Günlük Ücreti</th>
                    <th>Açıklama</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let carDetail of carDetails.slice(0,10) ">
                    <td>{{ carDetail.carId }}</td>
                    <td>{{ carDetail.brandName }}</td>
                    <td>{{carDetail.colorName}}</td>
                    <td>{{carDetail.modelYear}}</td>
                    <td>{{carDetail.dailyPrice}}</td>
                    <td>{{carDetail.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6" routerLink="/admin/rentals">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Kiralama ID</th>
                    <th>Araba ID</th>
                    <th>Kullanıcı ID</th>
                    <th>Başlangıç Tarihi</th>
                    <th>Dönüş Tarihi</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rental of rentals.slice(0,7) ">
                    <td>{{rental.id}}</td>
                    <td>{{rental.carId}}</td>
                    <td>{{rental.userId}}</td>
                    <td>{{rental.rentDate | date:"shortDate"}}</td>
                    <td>{{rental.returnDate | date:"shortDate"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Marka ID</th>
                            <th>Marka Adı</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let carDetail of carDetails.slice(0,5) ">
                            <td>{{ carDetail.carId }}</td>
                            <td>{{ carDetail.brandName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Renk ID</th>
                            <th>Renk Adı</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let carDetail of carDetails.slice(0,5) ">
                            <td>{{ carDetail.carId }}</td>
                            <td>{{ carDetail.brandName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
*Ayrıntılar için üzerine basın