<div style="margin-top: 20px;" class="row" routerLink="/admin/cars">
    <div class="col-md-12">
        <p style="text-align: center; font-size: 20px; font-weight: 500;">Araba Listesi</p>
        <p-table [value]="[0]" >
            <ng-template pTemplate="header">
                <tr>
                    <th>Araba ID</th>
                    <th>Marka</th>
                    <th>Renk</th>
                    <th>Model Yılı</th>
                    <th>Günlük Ücreti</th>
                    <th>Açıklama</th>
                </tr>
            </ng-template>           
                <ng-template pTemplate="body">                    
                    <tr *ngFor="let carDetail of carDetails.slice(0,6)">
                        <td>{{carDetail.carId}}</td>
                        <td>{{carDetail.brandName}}</td>
                        <td>{{carDetail.colorName}}</td>
                        <td>{{carDetail.modelYear}}</td>
                        <td>{{carDetail.dailyPrice}}</td>
                        <td>{{carDetail.description}}</td>
                    </tr>
                </ng-template>
            
        </p-table>
        
    </div>
</div>
<div style="margin-top: 20px;" class="row">
    <div class="col-md-6" routerLink="/admin/rentals">
        <p style="text-align: center; font-size: 20px; font-weight: 500;">Kiralama Listesi</p>
        <p-table [value]="[0]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Kiralama ID</th>
                    <th>Araba ID</th>
                    <th>Kullanıcı ID</th>
                    <th>Başlangıç Tarihi</th>
                    <th>Dönüş Tarihi</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr *ngFor="let rental of rentals.slice(0,5)">
                    <td>{{rental.id}}</td>
                    <td>{{rental.carId}}</td>
                    <td>{{rental.userId}}</td>
                    <td>{{rental.rentDate | date:"shortDate"}}</td>
                    <td>{{rental.returnDate | date:"shortDate"}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="col-md-6">
        <div routerLink="/admin/filter" class="row">
            <div class="col-md-6">
                <p style="text-align: center; font-size: 20px; font-weight: 500;">Marka Listesi</p>
                <p-table [value]="[0]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Marka ID</th>
                            <th>Marka Adı</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body">
                        <tr *ngFor="let brand of brands.slice(0,5)">
                            <td>{{ brand.brandId }}</td>
                            <td>{{ brand.brandName }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="col-md-6">
                <p style="text-align: center; font-size: 20px; font-weight: 500;">Renk Listesi</p>
                <p-table [value]="[0]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Renk ID</th>
                            <th>Renk Adı</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body">
                        <tr *ngFor="let color of colors.slice(0,5)">
                            <td>{{ color.colorId }}</td>
                            <td>{{ color.colorName }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
*Ayrıntılar için üzerine basın