<body class="text-center">
    <main class="form-signin">
      <form >
        <h1 class="h3 mb-3 fw-normal">Kart Bilgilerinizi Giriniz</h1>
  
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="floatingInput"
            placeholder="Kart Numaranız"
          />
          <label for="floatingInput">Kart Numaranız</label>
        </div>
        <div style="margin-top: 5px;" class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingPassword"
            placeholder="Kart Üzerindeki İsim"
          />
          <label for="floatingPassword">Kart Üzerindeki İsim</label>
        </div>
  
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div style="margin-top: 5px;" class="form-floating">
                            <input
                              type="number"
                              class="form-control"
                              id="floatingPassword"
                              placeholder="AA"
                            />
                            <label for="floatingPassword">AA</label>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div style="margin-top: 5px;" class="form-floating">
                            <input
                              type="text"
                              class="form-control"
                              id="floatingPassword"
                              placeholder="YY"
                            />
                            <label for="floatingPassword">YY</label>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div style="margin-top: 5px;" class="form-floating">
                    <input 
                      type="number"
                      class="form-control"
                      id="floatingPassword"
                      placeholder="CCV"
                    />
                    <label for="floatingPassword">CCV</label>
                  </div>
            </div>
        </div>
        
        <button style="margin-top: 10px;"
          class="w-100 btn btn-lg btn-primary"
          type="submit">
          Ödeme
        </button>
        
      </form>
    </main>
  </body>
  
