<div style="margin-top: 20px;" class="row">
    <div class="col-md-6">
        <p-table [value]="brands">
            <ng-template pTemplate="header">
                <tr>
                    <th>Marka ID</th>
                    <th>Marka İsmi</th>
                    <th>
                        <button routerLink="/admin/brands/add" pButton type="button" label="Ekle"></button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-brand>
                <tr>
                    <td>{{brand.brandId}}</td>
                    <td>{{brand.brandName}}</td>

                    <td>
                        <button routerLink="/admin/brands/update/{{brand.brandId}}" pButton type="button" label="Düzenle"></button>
                        <button (click)="deleteBrand(brand)" style="margin-left: 10px;" pButton type="button" label="Sil" class="p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="col-md-6">
        <p-table [value]="colors">
            <ng-template pTemplate="header">
                <tr>
                    <th>Renk ID</th>
                    <th>Renk Adı</th>
                    <th>
                        <button routerLink="/admin/colors/add" pButton type="button" label="Ekle"></button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-color>
                <tr>
                    <td>{{color.colorId}}</td>
                    <td>{{color.colorName}}</td>
                    <td>
                        <button routerLink="/admin/colors/update/{{color.colorId}}" pButton type="button" label="Düzenle"></button>
                        <button (click)="deleteColor(color)" style="margin-left: 10px;" pButton type="button" label="Sil" class="p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>