<div style="margin-top: 20px;" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 style="margin-bottom: 0px;" class="title">Arabayı Düzenle</h3>
        </div>
        <div *ngIf="carUpdateForm" class="card-body">
          <form [formGroup]="carUpdateForm">
            <div style="margin-bottom: 10px;">
              <label for="brand">Marka:</label>
              <div style="margin-top: -10px;">
                <select class="form-select" formControlName="BrandId" style="margin-top: 10px;">
                  <option *ngFor="let brand of brands" [ngValue]="brand.brandId">{{brand.brandName}}</option>
                </select>
              </div>
            </div>
  
            <div style="margin-bottom: 10px;">
              <label for="color">Renk:</label>
              <div style="margin-top: -10px;">
                <select class="form-select" formControlName="ColorId" style="margin-top: 10px;">
                  <option *ngFor="let color of colors" [ngValue]="color.colorId">{{color.colorName}}</option>
                </select>
              </div>
            </div>

  
            <div class="mb-3">
              <label for="modelyear">Model Yılı</label>
              <div class="form-group">
                <input
     
                  type="number"
                  id="unitsInStock"
                  formControlName="ModelYear"
                  class="form-control"
                />
              </div>
            </div>
  
            <div class="mb-3">
              <label for="dailyprice">Günlük Fiyat</label>
              <div class="form-group">
                <input
                  type="number"
                  id="unitPrice"
                  formControlName="DailyPrice"
                  class="form-control"
                />
              </div>
            </div>
  
            <div class="mb-3">
              <label for="description">Açıklama</label>
              <div class="form-group">
                <input
                  type="text"
                  id="description"
                  formControlName="Description"
                  class="form-control"
                />
              </div>
            </div>

            <div class="mb-3">
              <label for="description">Findex Puanı</label>
              <div class="form-group">
                <input
                  type="number"
                  id="description"
                  formControlName="MinFindexPoint"
                  class="form-control"
                />
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-primary" (click)="update()">Güncelle</button>
        </div>
      </div>
    </div>
  </div>
  

